<template name="createCommentActivity">
	<div class="activity message" data-userid={{userId}}>
		<img src="{{profileImage userId}}" class="message_profile-pic"/>
		<a href="" class="message_username">{{usernameFromId userId}}</a>
		<span class="message_timestamp">{{timeAgo timestamp}}</span>
		<span class="message_star"></span>
		<span class="message_content" style="color:#8b898f;font-style:italic">
			
			commented on {{action.type}}
			 <a href="/board/{{currentBoardId}}/action/{{action._id}}/description">{{midLabel action}}: {{action.title}}</a>			
			<div class="activity-comment">
				<i class="quote left icon large" style="color:lightgray"></i>
				{{{truncateCommentText this comment.text 500}}}
			</div>
		</span>
	</div>
</template>