<template name="welcomeMessage">	
	<div style="padding-top:300px">		
		<div class="ui message">
			<h1 class="ui header">Welcome to {{currentChannel}}</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse condimentum nisi augue, a faucibus ante suscipit at. Curabitur finibus turpis convallis magna fermentum ornare. Etiam sem metus, placerat quis viverra euismod, gravida sit amet quam. Mauris eu feugiat odio. Sed vitae diam posuere, commodo lectus at, aliquet enim. Nunc rhoncus neque et molestie tristique. Curabitur ac felis sit amet sapien rhoncus dictum a pharetra orci. Aliquam dignissim elit vel diam fringilla, in vehicula diam imperdiet. Nullam molestie turpis eget risus maximus ullamcorper. Aliquam erat volutpat. Sed congue vehicula placerat.</p>
			<a class="ui blue button">Learn more »</a>
		</div>
	</div>
</template>