<template name="rightSidebar">
	<div id="actions-wrapper">
		{{> Template.dynamic template=rightSidebarTemplate}}
	</div>
</template>

<template name="actions">
	<div  class="ui top tabular pointing secondary menu" style='margin-bottom:0'>
		
		<a id="actions-tab" class="{{activeTab 'actions'}} item"><i class="warning circle icon"></i> Actions</a>
		<a id="labels-tab" class="{{activeTab 'labels'}} item"><i class="tag icon"></i> Labels</a>
		<a id="people-tab" class="{{activeTab 'people'}} item"><i class="users icon"></i> Team</a>
	</div>
	<div class="ui bottom attached {{activeTab 'actions'}} tab" data-tab="first" style="height:100%">			

		<div id="filter-box" style="padding-top:10px">
			<div class="ui left action input" style="padding-left:15px;margin-right:10px">
				<div class="ui dropdown button" style="padding:10px">
					<div class="text">Filters</div>
					<i class="dropdown icon"></i>
					<div class="menu">
						<div id="clear-all-filters" class="item">Clear All Filters</div>
						<div class="divider"></div>
						<div id="all-my-actions-filter" class="item"> All My Actions</div>
						<div id="my-open-tasks-filter" class="item"> My Open Tasks</div>
						<div id="all-open-bugs-filter" class="item"> All Open Bugs</div>
						<div id="all-archived-actions" class="item"> All Archived Actions</div>
					</div>
				</div>
				<input class="input-box_filter" type="text" placeholder="Type filter here..." value="{{actionFilterString}}" style="width:390px;font-size: 100%;" />
			</div>
		</div>
		<div class="ui small text menu" style="margin: 0;margin-left: 10px;">		
			<a id="actions-open-label" class="item">
				<i class='icon circle'></i> {{getPublishedCount 'action-open-count'}} Open
			</a>
			<a id="actions-archived-label" class="item">
				<i class='icon archive'></i> {{getPublishedCount 'action-archived-count'}}  Archived
			</a>			
		</div>		
		<div id="action-list" style="height:100%;width:490px">
			<div class="ui middle aligned divided relaxed list" style="padding:10px;padding-left:15px;overflow-y:scroll;height: calc(100% - 140px);align-content: flex-start;">
				{{#sortable items=actions options=sortableOptions}}
				{{> actionItem}}
				{{/sortable}}
			</div>			
		</div>			
	</div>
	<div class="ui bottom attached tab {{activeTab 'labels'}}" data-tab="third">
		{{#if currentUserIsAdmin}}
			<button id="new-label-button" class="ui mini button" style="float: right;margin-right:10px">New Label</button>
		{{/if}}
		<div class="ui divided selection list" style="padding-top:30px">
			{{#each labels}}
			{{> labelItem}}
			{{/each}}
		</div>
	</div>
	<div class="ui bottom attached tab {{activeTab 'people'}}" data-tab="forth">
		<div class="ui attached message">

			<p>The following team members are currently online: </p>
		</div>
		<div class="ui middle aligned selection list">
			{{#each activeUsers}}
			{{> activeUser}}
			{{/each}}			
		</div>
	</div>	

</template>

<template name="activeUser">
	<div id="active-user-item" class="item" data-active-user-id="{{userId}}">	
		<img class="ui avatar image" src="{{profileImage userId}}"/>
		<div class="content">
			<span class="header" style="display:inline">@{{usernameFromId userId}}</span><span class="is-typing" style="display:none"> is typing<span class="one">.</span><span class="two">.</span><span class="three">.</span></span>
		</div>
	</div>
</template>

<template name="filterItem">
	<div class="filter item {{activeClass}}">
		{{title}}
	</div>
</template>

<template name="labelItem">
	<a class="item">
		<div class="right floated content">
			<strong>6</strong> open <strong>19</strong> Closed
		</div>
		<div class="ui {{color}} horizontal label">{{title}}</div>
		<p style="font-size:80%;margin-top:5px">{{description}}</p>
	</a>
</template>