<template name="boardList">
	<a id="board-logout" style="padding: 5px;display: block;position: absolute;right: 10px;top: 0px;cursor:pointer">Logout</a>
	<h1 style="padding:10px"> BOARDS </h1>
	<div class="ui text container">
		<div class="ui raised segment">
			{{#if currentUserIsAdmin}}
			<button id="create-board-button" class="ui primary button">
				Create Board
			</button>
			{{/if}}
			<ul>
				{{#each boards}}
				{{> boardListItem}}
				{{/each}}
			</ul>
			{{#if noBoards}}
				{{#if currentUserIsAdmin}}
					<p>You don't have any boards yet - click on the Create Board button to get started</p>
				{{else}}
					<p>You are not a member of any boards - see your admin for access</p>
				{{/if}}
			{{/if}}
		</div>
	</div>

	{{#if currentUserIsAdmin}}

	<h1 style="padding:10px"> TEAM MEMBERS </h1>
	<div class="ui text container">
		{{> teamMemberList}}
	</div>

	<h1 style="padding:10px"> POD SETTINGS </h1>
	<div class="ui text container">
	<form>
		<input id="pod-prefix-input" value="{{podPrefix}}">
		<button id="save-pod-settings" class="ui button" type="submit">Save Pod Settings</button>
		</form>
	</div>
	{{/if}}


	{{> createBoardDialog}}
</template>

<template name="boardListItem">
	<li><a href="/board/{{_id}}/messages">{{title}} <span style="color:lightgray">{{prefix}}</span></a></li>
</template>

<template name="createBoardDialog">
	<div id="createBoardDialog" class="ui modal">		
		<div class="header">
			Create Board
		</div>
		<div class=" content">
			<form class="ui form">
				<div class="field">
					<label>Board Title</label>
					<input autofocus type="text" name="title" placeholder="Pick a descriptive title for your new board">
				</div>
				<div class="field">
					<label>Board Prefix</label>
					<input type="text" name="prefix" placeholder="Choose a unique identifier for this board, such as 'PRJ' for example">
				</div>			
			</form>
		</div>
		<div class="actions">
			<div class="ui black deny button">
				Cancel
			</div>
			<div id="create-board-submit-button" class="ui positive right labeled icon button">
				Create Board
				<i class="checkmark icon"></i>
			</div>
		</div>
	</div>
</template>