<template name="labelDialog">
	<div id="labelDialog" class="ui modal">		
		<div class="header">
			Label Settings
		</div>
		<div class=" content">
			<form class="ui form">
				<div class="field">
					<label>Name</label>
					<input autofocus type="text" name="title" placeholder="Type name of label here">
				</div>
				<div class="field">
					<label>Description</label>
					<textarea autofocus type="text" name="description" placeholder="Describe your label here"></textarea>
				</div>
				<div class="field">
					<label>Color</label>
					<div id="color-dropdown" class="ui floating dropdown">
						<span class="text">Choose color</span>
						<div class="menu">
						<div class="item">
								<div class="ui green empty circular label" data-color="green"></div>
								Green
							</div>
							<div class="item">
								<div class="ui red empty circular label" data-color="red"></div>
								Red
							</div>
							<div class="item">
								<div class="ui blue empty circular label" data-color="blue"></div>
								Blue
							</div>
							<div class="item">
								<div class="ui black empty circular label" data-color="black"></div>
								Black
							</div>
							<div class="item">
								<div class="ui purple empty circular label" data-color="purple"></div>
								Purple
							</div>
							<div class="item">
								<div class="ui orange empty circular label" data-color="orange"></div>
								Orange
							</div>								
							<div class="item">
								<div class="ui yellow empty circular label" data-color="yellow"></div>
								Yellow
							</div>
							<div class="item">
								<div class="ui pink empty circular label" data-color="pink"></div>
								Pink
							</div>					
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="actions">
			<div class="ui black deny button">
				Cancel
			</div>
			<div id="create-board-submit-button" class="ui positive right labeled icon button">
				Save
				<i class="checkmark icon"></i>
			</div>
		</div>
	</div>
</template>