<template name="labelDialog">
	<div id="labelDialog" class="ui modal">		
		<div class="header">
			Label Settings
		</div>
		<div class=" content">
			<form class="ui form">
				<div class="field">
					<label>Name</label>
					<input autofocus type="text" name="title" placeholder="Type name of label here">
				</div>
				<div class="field">
					<label>Description</label>
					<textarea autofocus type="text" name="description" placeholder="Describe your label here"></textarea>
				</div>
				<div class="field">
					<label>Color</label>
					{{> colorDropdown}}
				</div>
			</form>
		</div>
		<div class="actions">
			<div class="ui black deny button">
				Cancel
			</div>
			<div id="create-board-submit-button" class="ui positive right labeled icon button">
				Save
				<i class="checkmark icon"></i>
			</div>
		</div>
	</div>
</template>