<template name="actionDetailSidebarView">
	{{#with selectedSidebarAction}}
	<div class="header" style="background:black;color:white;padding:10px;padding-bottom:20px">
		<i id="back-icon" class="left arrow icon" style="position: absolute;top: 5px;left: 5px;"></i> 
		<i id="full-screen-icon" class="maximize icon" style="position: absolute;top: 5px;right: 5px;"></i> 
		<h1>    
			<i style="float:left;top:5px;position: relative;" class="big {{itemIcon this}} {{itemIconColor this}} icon"></i>    
			<div style="padding-left:50px">
			<div class="item-sid" style="text-transform:uppercase;font-size:12px;color:gray">{{sidLabel this}}</div>
			<span id="action-title">{{title}}</span>
			</div>
		</h1>
			{{> actionStatusDropdown}}
	</div>	
	<div class="ui top attached secondary pointing tabular menu">
		<a class="active item" data-tab="first">Description</a>
		<a class="item" data-tab="second">Discussion</a>
		<a class="item" data-tab="third">Details</a>
	</div>
	<div id="tab-wrapper" style="height:calc( 100% - 220px );overflow-y:scroll">
		<div class="ui active basic tab segment" data-tab="first" style="margin:20px;font-size:16px">
			{{#markdown}}{{text}}{{/markdown}}
		</div>
		<div class="ui basic tab segment" data-tab="second"  style="margin:10px;position:relative">
			{{> actionDetailMessages}}
		</div>	
		<div class="ui basic tab segment" data-tab="third"  style="margin:10px">
			<table class="ui celled table" style="margin-left:25px;width:400px;">
				<tr><td>Status</td><td><strong>{{itemStatusLabel this}}</strong></td></tr>
				<tr><td>Milestone</td><td><strong>Backlog</strong></td></tr>
				<tr><td>Reporter</td><td><strong>pdrummond</strong></td></tr>
				<tr><td>Created Date</td><td><strong>9th May 2015</strong></td></tr>
			</table>
		</div>
		<div class="ui fluid icon input" style="position:absolute; width:95%; left:12px; bottom:10px">
			<input id="comment-input" type="text" placeholder="Add your comment here" >
			<i class="comment icon"></i>
		</div>
	</div>
	{{/with}}
</template>

<template name="actionDetailMessages">

	<div class="ui list message-history" style="padding:5px;">
		{{#each actionMessages}}
		{{> messageHolder}}
		{{/each}}		
	</div>
	
</template>