<template name="actionDetailSidebarView">
	{{#with selectedSidebarAction}}
	<div class="header" style="background:black;color:white;padding:10px;padding-bottom:20px">		
		<div class="ui icon top left pointing dropdown" style="position: absolute;top: 5px;left: 5px;">
			<i class="vertical ellipsis icon"></i>
			<div class="menu">
				<div id="archive-item-menu-item" class="item "><span class="text">{{archiveMenuItemText}}</span></div>
				<div id="rename-item-menu-item" class="item"><span class="text">Rename Item</span></div>
				<div id="change-item-members-menu-item" class="item"><span class="text">Change Members</span></div>
				<div class="item">
					<i class="dropdown icon"></i>
					<span class="text">Move to</span>
					<div class="menu">
						{{# each boards}}
						{{> moveToBoardItem}}
						{{/each}}
					</div>
				</div>
				<div class="divider"></div>
				<div class="item"><span class="text">Archive/Restore</span></div>
			</div>			
		</div>	
		<i id="back-icon" class="left arrow icon" style="position: absolute;top: 5px;right: 5px;"></i> 	
		<h1>    
			<i style="float:left;top:5px;position: relative;" class="big {{itemIcon this}} {{itemIconColor this}} icon"></i>    
			<div style="padding-left:50px">
				<div class="item-sid" style="text-transform:uppercase;font-size:12px;color:gray;position: relative;top: 4px;">{{sidLabel this}}</div>
				<span id="action-title">{{title}}</span>
			</div>
		</h1>
		{{#if itemIsAction}}
		{{> actionStatusDropdown}}
		{{/if}}
	</div>	
	<div class="ui top attached secondary pointing tabular menu">
		<a id="description-tab" class="{{activeTab 'description'}} item" data-tab="first">Description</a>
		<a id="discussion-tab" class="{{activeTab 'discussion'}} item" data-tab="second">Discussion</a>
		<a id="details-tab" class="{{activeTab 'details'}} item" data-tab="third">Details</a>
	</div>
	<div id="tab-wrapper" style="height:calc( 100% - 220px );overflow-y:scroll">
		<div class="ui basic tab segment {{activeTab 'description'}}" data-tab="first" style="height:100%">
			<div style="float:left">
				<a id="fullscreen-description-link" style="display:none;cursor:pointer"><i class="maximize icon"></i></a>
			</div>
			<div style="float:right">
				<a id="edit-description-link" style="cursor:pointer"><i class="pencil icon"></i></a>
				
			</div>
			<div style="clear:both;margin-top:10px;font-size:16px;height:100%">
				<div id="item-description">
					{{#markdown}}{{#emoji}}{{text}}{{/emoji}}{{/markdown}}
				</div>
				<textarea id="item-description-editor" style="display:none">{{text}}</textarea>
			</div>
		</div>
		<div class="ui basic tab segment {{activeTab 'discussion'}}" data-tab="second"  style="height:100%;margin:10px;position:relative">
			{{> itemComments}}
		</div>	
		<div class="ui basic tab segment {{activeTab 'details'}}" data-tab="third"  style="margin:10px">

			<table class="ui celled table" style="margin-left:25px;width:400px;">
				<tr><td>Type</td><td><strong>{{itemType}}</strong></td></tr>				
				<tr><td>Status</td><td><strong>{{status}}</strong></td></tr>				
				<tr><td>Members</td><td><strong>{{itemMembers this}}</strong></td></tr>
				<tr><td>Created By</td><td><strong>{{usernameFromId userId}}</strong></td></tr>
				<tr><td>Created Date</td><td><strong>{{formatDate timestamp}}</strong></td></tr>
				<tr><td>Updated By</td><td><strong>{{usernameFromId updatedBy}}</strong></td></tr>
				<tr><td>Updated Date</td><td><strong>{{formatDate updatedAt}}</strong></td></tr>
			</table>
		</div>
		<div class="ui input" style="position:absolute; width:95%; left:12px; bottom:10px">
			<textarea id="comment-input" autofocus class="mousetrap" type="text" placeholder="Add comment here"></textarea>
			<i id="full-screen-comment-input" class="maximize icon" style="position:absolute;right:10px;top:10px;color:gray;cursor:pointer"></i>
		</div>
	</div>
	{{/with}}
</template>

<template name="itemComments">

	<div id="comments-message-list" class="ui list message-history" style="padding:5px;">
		{{#each itemComments}}
		{{> messageHolder}}
		{{/each}}		
	</div>
	
</template>

<template name="moveToBoardItem">
	<div class="item">
		<i class="{{color}} square icon"></i>{{title}}
	</div>
</template>