<template name="actionDetailSidebarView">
	{{#with selectedSidebarAction}}
	<div class="header" style="background:black;color:white;padding:10px;padding-bottom:20px">
		<i id="back-icon" class="left arrow icon" style="position: absolute;top: 5px;left: 5px;"></i> 
		<i id="full-screen-icon" class="maximize icon" style="position: absolute;top: 5px;right: 5px;"></i> 
		<h1>        
			<span id="action-title">

				<i class="big {{itemIcon this}} {{itemIconColor this}} icon"></i>
				{{title}} 
				<span class="item-sid" style="color:gray">{{sidLabel this}}</span>
			</span>			
		</h1>
	</div>	
	<div class="ui fluid accordion" style="overflow-y:hidden">
		<div class="title">
			<i style="margin-left:5px" class="table icon"></i> <strong>Details</strong>
		</div>
		<div class="content">
			<table class="ui celled table" style="margin-left:25px;width:450px;">
				<tr><td>Status</td><td><strong>{{> actionStatusDropdown}}</strong></td></tr>
				<tr><td>Milestone</td><td><strong>Backlog</strong></td></tr>
				<tr><td>Reporter</td><td><strong>pdrummond</strong></td></tr>
				<tr><td>Created Date</td><td><strong>9th May 2015</strong></td></tr>
			</table>
		</div>
		<div class="title">
			<i style="margin-left:5px" class="book icon"></i> <strong>Description</strong>
		</div>
		<div class="content">
			<div style="margin-left:25px;width:450px;">
				{{#markdown}}{{description}}{{/markdown}}
			</div>
		</div>
		<div class="active title">			
			<i style="margin-left:5px" class="comments outline icon"></i> <strong>Discussion</strong>
		</div>
		<div class="active content full-height" style="position:relative">
			<div class="full-height" style="margin-left:25px;width:450px;">
				{{> actionDetailMessages}}				
			</div>
			<div class="ui fluid icon input" style="position: absolute;bottom: 5px;width:100%;padding: 5px;">
				<input id="action-comment-input" type="text" placeholder="Add your comment here" >
				<i class="comment icon"></i>
			</div>
		</div>		
	</div>
	{{/with}}
</template>

<template name="actionDetailMessages">

	<div class="ui list message-history" style="padding:5px;">
		{{#each messages}}
		{{> messageHolder}}
		{{/each}}		
	</div>
	
</template>