<template name="actionStatusDropdown" >  
  <div id="action-status-dropdown" class="ui small dropdown {{selectedActionStatusColor}} button" style="float:right;margin-top:30px">
    <span class="text" style="color:white">Status: {{selectedActionStatusLabel}} </span>
    <div class="aligned right menu" style="left:-90px !important">
      {{#each boardStatusSlots}}
      {{> actionStatusDropdownItem}}
      {{/each}}
    </div>
  </div>

</template>

<template name="actionStatusDropdownItem">
  <div class="status item" data-value="{{value}}">
    <div class="ui {{color}} empty circular label"></div>
    {{label}}
  </div>
</template>